
:root{
  --color:rgb(214, 32, 32);
}
body{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
header{
  width: 100%;
  background-color:var(--color);
  height: 3em;
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  line-height: 3em;
  position: fixed;
  z-index: 200;
}


.graduates-grid{
  display: grid;
  box-sizing: border-box;
  padding-top: 60px;
  row-gap: 30px;
  width: 100%;
  opacity: 0;
  animation: open-list 2s ease forwards;
 
}

@keyframes open-list {
  from{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
    opacity: 1;
  }
  
}

 button{
  position: absolute;
  background: none;
  border: none;
  top: 5px;
  z-index: 20;
  left: 10px;
}

button a img{
  width: 30px;
  
}





.graduates[data-scroll="in"]{

 opacity: 1;
  transform: translateY(0);
}

.graduates{
  display: flex;
  background-color: var(--color);
  padding: 15px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
  width:auto;
  height: auto;
  
}

.adviser{
  background-color: var(--color);
  padding: 15px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.adviser-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adviser-name h1{
 
  color: white;
  text-align: left;
}

.adviser-name p{
  margin-left: 25px;
  text-align: center;
}



.picture{
  width: 110px;
  background-color: lightgray;
  padding: 8px;
  border-radius: 10px;
}

.picture img{
  width:100%;
  height: auto;
}

.name-section{
  display: flex;
  
}

.name{
  font-size: 1.1em;
  font-family: Arial;
  font-weight: bold;
  margin-left: 5px;
  color: white;
  margin-right: 5px;  
 text-align: left;

}

.strand{
  font-weight: bold;
  color: white;
  font-size: 1.12em;
  white-space: nowrap;
  margin-left: 5px
}

.second-pic{
  width: 70px;
  position: absolute;
  top: 70px;
  left:230px;
 
}



.second-pic img{
  width:100%;
  background-color: lightgray;
  padding: 6px;
  border-radius: 10px;
  
  
}



@media only screen and (min-width: 1020px){

  .graduates-grid{
    grid-template-columns: auto auto;
    column-gap: 50px
  }
  .picture{
    width: 180px;
  }

   .graduates{
    width: 400px;
   } 
  .second-pic{
    width: 100px;
    top: 100px;
    left: 270px;
  }
}

@media only screen and (min-width: 1500px){
  .graduates-grid{
    grid-template-columns: auto auto auto;
    
  }

  .graduates{
    width: 450px;
   }
}
